body {
  text-align: center;
  background-color: #fefae0;
  color: rgb(83, 75, 75);
  margin: 50px;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
}

a {
  font-family: "Fira Snas", sans-serif;
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
